h1 {
    text-align: center;  /*Centra el texto*/
    font-size: 40px;
    font-family: 'Kaushan Script', cursive;

}

.titulo{
  background-color: #F4D03F;
  border-radius: 500px;
  margin: auto;
  margin-top: 20px; /*margen superior*/
  width: 450px; /*ancho borde cifrado cesar*/
  height: 60px; /*alto borde cifrado cesar*/

}

p {

  /*font-family: cursive;*/
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;
  justify-content: center;
}

#textoMensaje {   /*input del txt donde se ingresara el mensaje*/

    color:#F1C40F  ;
    align-items: center; /* Aliena los elementos*/
    text-align: center;
    margin-left: inherit;
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    position: center;
    border-color: #F1C40F ;
}

.boton{
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  border-radius: 100px;
  border-color: #F1C40F ;
  border-style:groove;
  background-color:  #F7DC6F ;
  position: static;
}

body {
  background-color: #F9E79F;
  background-image: url("fondo.jpg");
  background-repeat: no-repeat;   /* no repite la imagen*/
  background-origin: padding-box;  /*especifica el area de origen de la imagen*/
  background-size: 100% 100%; /* Ancho y alto dHace la imagen al mayor tamaño posible sin estirarla.el fondo*/
  background-size: cover; /* Hace la imagen al mayor tamaño sin estirarla. */
  background-attachment: fixed; /*fija la imagen de fondo */
  background-position: 0px 0px; /*posicion de la imagen*/
  position: static;


}

div{
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  background-size: 100% 100%;
  position: static;
}


.container{
  margin: 1rem;
  padding: 0rem; /*EStablece el area de relleno en sus cuatro lados*/
  text-align: center;
  margin: top;

}
